@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

header {
    margin-inline: auto;
    width: min(90%, f.rem(1440));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: f.rem(16);

    .logo {
        width: 100px;
    }

    nav {
        ul {        
            display: flex;
            gap: f.rem(16);
            /* gap: 1%; */

            li {

                a {
                    color: var(--x-d-blue);
                    font-size: f.rem(14);
                }
            }
        }
    }

    @include bp.breakpointMin(medium-screen) {
        .logo {
            width: 150px;
        }

        nav {
            ul {
                gap: f.rem(64);

                li {

                    a {
                        font-size: f.rem(18);
                    }
                }
            }
        }
    }
}