@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
@use '../utils/fonts' as font;

.raleway {
    font-weight: 400;
    font-family: font.$raleway;
}

.raleway-bold {
    font-weight: 700;
    font-family: font.$raleway;
}

.open-sans {
    font-weight: 400;
    font-family: font.$open-sans;
}

.form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: f.rem(16);

    .email-container {
        position: relative;
        width: 100%;

        .email-error {
            border:rgb(255, 88, 88) 1px solid;
        }
    
        input {
            border-radius: f.rem(5);
            display: block;
            outline: none;
            width: 95%;
            padding: f.rem(16) f.rem(24);
            border: 1px solid var(--x-d-blue);

            &::placeholder {
                color: var(--l-gray);
            }
        }

        .error {
            color: rgb(255, 88, 88);
            position: absolute;
            bottom: -20px;
        }
    }

    button {
        width: 95%;
        border-radius: f.rem(5);
        padding: f.rem(16);
        background-color: var(--bright-blue);
        color: white;

        &:hover {
            background-color: var(--bright-blue-hover);
        }
    }
}

.form-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: f.rem(32);

    .email-container {
        position: relative;
        width: 100%;

        .email-error {
            border:rgb(255, 88, 88) 1px solid;
        }

        input {
            width: 80%;
            border-radius: f.rem(5);
            padding: f.rem(16) f.rem(24);
            border: none;
    
            &::placeholder {
                color: var(--l-gray);
            }
        }

        .error {
            position: absolute;
            bottom: -20px;
        }
    }

    button {
        padding: f.rem(16);
        background-color: var(--bright-blue);
        color: white;
        width: 80%;
        border-radius: f.rem(5);

        &:hover {
            background-color: var(--bright-blue-hover);
        }
    }
}

/* header,
main,
section,
section.early-access,
section.features {
    display: none;
} */
