@use '../utils/functions' as f;
@use '../utils/breakpoints' as bp;

footer {
    position: relative;
    margin-top: auto;
    background-color: var(--x-d-blue);
    color: white;
    padding: f.rem(38) f.rem(24);

    .footer-logo {
        margin-bottom: f.rem(32);

        svg {
            path {
                fill: white;
            }
        }
    }

    @include bp.breakpointMin(medium-screen) {
        padding: f.rem(68) f.rem(48);
    }
}

.footer-container {
    width: min(100%, f.rem(1440));
    margin-inline: auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: f.rem(32);

    .contacts {
        display: grid;
        gap: f.rem(16);
        
        .contact-info {
            display: flex;
            align-items: center;
            gap: f.rem(16);
        }
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);

        .nav {
            display: flex;
            flex-direction: column;
            gap: f.rem(16);

            a {
                color: white;
            }
        }
    }

    .socials {
        display: flex;
        gap: f.rem(16);
        align-items: center;
        justify-content: center;

        a {
            color: white;
            display: grid;
            place-content: center;
            width: f.rem(30);
            height: f.rem(30);
            border: 1px solid white;
            border-radius: 50%;
            padding: f.rem(10);

            .fa-brands {
                font-size: f.rem(16);
            }
        }
    }

    @include bp.breakpointMin(medium-screen) {
        flex-direction: row;
        align-items: center;
        gap: 15%;

        .contacts {
            margin-bottom: auto;
        }

        .footer-nav {
            flex-direction: row;
            justify-content: space-between;
            gap: f.rem(150);

            a {
                &:hover {
                    color: var(--bright-blue-hover);
                }
            }
        }

        .socials {
            margin-bottom: auto;

            a {
                &:hover {
                    color: var(--bright-blue-hover);

                    border-color: var(--bright-blue-hover);
                }
            }
        }
    }
}

.attribution { 
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: f.rem(15); 
    text-align: center; 
    color: var(--l-gray);
}

.attribution a { 
    color: var(--l-grayish-blue);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin-inline: auto;
        width: 0;
        height: 2px;
        background-color: var(--l-grayish-blue);
        transition: width .4s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}